[Unit]
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/opt/corretto-17/bin/java -jar /opt/app/app.jar
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=multi-user.target